<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div style="display: flex; align-items: center; justify-content: center; height: 100vh;">
		{{#if paid}}
			<img src="static/img/success.svg" alt="success" style="width: 50vw;" />
		{{else}}
			<img src="static/img/fail.svg" alt="fail" style="width: 50vw;" />
		{{/if}}
	</div>
</body>
<html>