<!DOCTYPE html>
<html>
	<head>
		<title>Splash & Crash</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="static/css/normalise.min.css" />
		<link rel="stylesheet" type="text/css" href="static/css/style.css" />
		<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<div class="background"></div>
		<div class="site-title">Splash & Crash!</div>
		<div class="light-box"></div>
		<div class="loader flex-container">
			<div class="spinner">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>

		<div class="content">

			<!-- REGISTER FORM -->
			<div class="layout-wrapper">
				<div class="register-wrapper">
					<div class="register-form">
						<input type="text" class="user-name" placeholder="Your name..">
						<input type="text" class="user-email" placeholder="Your email..">
						<button class="user-register">Register</button>
					</div>
					<div class="errors"></div>
				</div>

				<!-- PREFERENCE FORM -->
				<div class="preference-wrapper">
					<div class="preference-form">
						<input type="text" class="pref-drinks" placeholder="Drink preferences..?">
						<input type="text" class="pref-food" placeholder="Food preferences..?">
						<input type="text" class="pref-crash" placeholder="Are you crashing..?">
						<textarea class="pref-ideas" rows="5" placeholder="Any fun party ideas..?!"></textarea>
						<button>Next</button>
					</div>
					<div class="errors"></div>
				</div>

				<!-- DISCLAIMER FORM -->
				<div class="disclaimer-wrapper">
					<div class="disclaimer-form">
						<h1>About</h1>
						<ul>
							<li><i class="fa fa-frown-o" aria-hidden="true"></i><span>This site complements a private facebook event. If you are not on the invite list, please do not proceed any further.</span></li>
						</ul>
						<h1>Pool Rules</h1>
						<ul>
							<li><i class="fa fa-frown-o" aria-hidden="true"></i><span>No diving!</span></li>
							<li><i class="fa fa-frown-o" aria-hidden="true"></i><span>No glass by the pool</span></li>
						</ul>
						<h1>House Rules</h1>
						<ul>
							<li><i class="fa fa-frown-o" aria-hidden="true"></i><span>No drinks upstairs or on carpets</span></li>
							<li><i class="fa fa-frown-o" aria-hidden="true"></i><span>Please don't sit on sofas with wet shorts/bikini on..</span></li>
							<li><i class="fa fa-frown-o" aria-hidden="true"></i><span>Dry off before entering the house</span></li>
							<li><i class="fa fa-frown-o" aria-hidden="true"></i><span>Respect the house. Remember, any damage, stains and mess has to be paid for or cleaned by me!</span></li>
						</ul>
						<button class="user-register">Ok, got it!</button>
					</div>
				</div>

				<!-- PAYMENT FORM -->
				<div class="payment-wrapper">
					<form action="/pay" method="POST" class="payment-form">
						
						<!-- form header -->
						<div class="form-header">
							<img class="stripe-logo" src="static/img/stripe.svg" />
							<i class="fa fa-lock" aria-hidden="true"></i>
							<i class="fa fa-times exit" aria-hidden="true"></i>
						</div>

						<!-- form body -->
						<div class="form-body">
							<div><label>Card number</label><input type="text" data-stripe="number"></div>
							<div class="flex-container">
								<div class="flex-item"><label>Expiry</label><div class="flex-container">
									<input class="exp-month" type="text" data-stripe="exp_month" placeholder="MM">
									<input class="exp-year" type="text" data-stripe="exp_year" placeholder="YY">
								</div></div>
								<div class="flex-item"><label>Security code</label><input type="text" data-stripe="cvc" placeholder="CVC"></div>
							</div>
						</div>

						<!-- form footer -->
						<div class="form-footer">
							<div class="spacer"></div>
							<button class="submit" type="submit" value="Pay £10.00">
								<i class="fa fa-check" aria-hidden="true"></i>Pay  £10.00
							</button>
							<div class="errors"></div>
						</div>

					</form>
				</div>

				<!-- MESSAGE FORM -->
				<div class="message-wrapper">
					<div class="smiley"></div>
					<div class="message"></div>
					<div class="error"></div>
				</div>

			</div>
		</div>

		<script type="text/javascript" src="static/js/jquery-3.0.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.4.1/bluebird.min.js"></script>
		<script type="text/javascript" src="static/js/validator.min.js"></script>
		<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
		<script src="https://use.fontawesome.com/c2a5f27e67.js"></script>
		<script src="static/js/ui.js"></script>
		<script>
			//Google Analytics tracking
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-80583840-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
	
</html>