/* ------------ temporary styles ---------- */

.register-wrapper,
.preference-wrapper,
.disclaimer-wrapper,
.payment-wrapper,
.thankyou-wrapper {
	display: none;
}



/* ---------- reset form styles --------- */

.payment-form,
.register-form,
.preference-form,
.disclaimer-form {
	color: #333;
	font-family: 'Josefin Sans', sans-serif;
}

input, 
textarea {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
	color: #333;
}

input:focus,
textarea:focus {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
	color: #333;
}

button {
	background-color: white;
	border: none;
}



/* ------------ layout styles ------------- */

/*body { 
    overflow: hidden;
}*/

.site-title {
	position: fixed;
	top: 5vh;
	width: 100%;
	text-align: center;
}

.background{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	align-items: center;
	justify-content: center;
}

.light-box {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.content {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
}

.layout-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15vh;
	height: 85vh;
	width: 100vw;
	position: relative;
}

.payment-wrapper,
.register-wrapper,
.preference-wrapper,
.disclaimer-wrapper {
	width: 440px;
	margin: 0 10%;
}

.disclaimer-wrapper {
	height: 70vh;
	overflow: scroll;
}

.stripe-logo {
	top: 20px;
	left: 16px;
}
.fa-lock{
	right: 41px;
	top: 26px;
}
.fa-times {
	right: 16px;
	top: 25px;
}
.form-body,
.form-footer {
	padding: 16px;
}

/* ---------- design styles ----------- */

.site-title {
	font-family: 'Lobster', cursive;
	font-size: 45px;
	color: #fff;
	text-shadow: 0px 0px 10px #000;
}

.background{
	background-image: url('../img/water.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 20px #000;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.loader {

}

.light-box {
	background-color: rgba(0,0,0,0.6);
}

.payment-wrapper {
	background-color: rgba(255, 255, 255,1);
	border-radius: 8px;
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
	overflow: hidden;
}

.form-body,
.form-footer {
	background-color: #eff2f5;
}

.form-footer {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

/* ---------- form styles ------------- */

/*generic*/

.payment-form,
.register-form,
.disclaimer-form,
.preference-form {
	font-weight: 300;
	font-size: 20px;
}

.register-form input,
.register-form input:focus,
.register-form button,
.preference-form input,
.preference-form input:focus,
.preference-form textarea,
.preference-form textarea:focus,
.preference-form button,
.disclaimer-form button {
	width: 100%;
	padding: 10px;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 21px;
	color: #333;
	border-radius: 4px;
}

.register-form button,
.disclaimer-form button,
.preference-form button {
	border-radius: 0;
	background-color: rgb(229, 151, 0);
	color: rgb(255,255,255);
	text-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	font-weight: 300;
}

.register-form button:hover,
.disclaimer-form button:hover,
.preference-form button:hover {
	cursor: pointer;
	box-shadow: 0px 0px 1px #fff;
}


.errors {
    color: white;
    font-weight: 300;
    font-family: 'josefin sans';
    font-size: 18px;
}



/*disclaimer*/

.disclaimer-form {
	color: #fff;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.disclaimer-form ul {
	font-weight: 300;
	list-style: none;
	padding-left: 0px;
	font-size: 20px;
	margin: 0;
}

.disclaimer-form li {
	display: flex;
}

.disclaimer-form h1 {
	margin: 10px 0;
}
.disclaimer-form h1:first-child {
	margin-top: 0;
}

.disclaimer-form span {
	margin: 5px 0;
}

.disclaimer-form button {
	margin-top: 10px;
}

.disclaimer-form i {
	font-size: 15px;
	margin-right: 10px;
	display: none;
}


/*payment*/

/*form header*/

.form-header {
	position: relative;
	border-bottom: 1px solid #ccc;
	height: 70px;
}
.stripe-logo {
	width: 80px;
	position: absolute;
}
.fa-lock,
.fa-times{
	font-size: 20px!important;
	position: absolute;
	color: #555;
}
.fa-times:hover{
	color: #777;
	cursor: pointer;
}

/*form body*/

.form-body{
	font-weight: 100;
}
.form-body label{
	margin-right: 10px;
	display: block;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 2px;
}
.form-body input,
.form-body input:focus {
	width: 100%;
	padding: 5px;
	font-size: 18px;
}
.flex-container{
	display: flex;
}
.flex-item {
	flex: 1;
}
.flex-item:first-child{
	margin-right: 8px;
}
.flex-item:last-child{
	margin-left: 8px;
}
.exp-month {
	margin-right: 4px!important;
}
.exp-year {
	margin-left: 4px!important;
}

/*form footer*/

.form-footer{
	position: relative;
}
button.submit {
	width: 100%;
	padding: 10px 0;
	background-color: rgb(53,154,213);
	color: rgb(255,255,255);
	font-weight: 400;
	font-size: 18px;
}
button.submit:hover{
	cursor: pointer;
	background-color: rgba(53,154,213,0.8);
	font-size: 18px;
}
.form-footer .spacer {
	height: 16px;
	margin-top: -16px;
	border-top: 2px solid rgba(204, 204, 204, 0.2);
}
.fa-check{
	color: rgb(255,255,255);
	margin-left: -24px;
	padding-right:10px;
	display: inline!important;
}

.payment-wrapper .errors {
	margin-top: 10px;
	margin-bottom: -10px;
	color: #333;
}


/*message form*/

.message-wrapper .smiley,
.message-wrapper .message,
.message-wrapper .error {
	color: white;
	font-weight: 100;
	text-align: center;
}

.message-wrapper .smiley {
    font-family: 'Lobster';
    font-size: 90px;
    margin-bottom: 20px;
}

.message-wrapper .message{
    font-family: 'Lobster';
    font-size: 40px;
    
}

.message-wrapper .error{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
}

/* ----------------- media queries ------------ */


@media (min-width: 550px) {

	.site-title {
		top: 5vh;
		font-size: 70px;
	}

	.disclaimer-wrapper {
		height: 100%;
		overflow: auto;
	}

	/*.background{
		-webkit-filter: blur(10px);
		-moz-filter: blur(10px);
		-o-filter: blur(10px);
		-ms-filter: blur(10px);
		filter: blur(10px);
	}*/

}



/* ------------------------------------------------------------------------------------------------------------------ 

    Animation Styles 

/------------------------------------------------------------------------------------------------------------------- */


.spinner > div {
  width: 20px;
  height: 20px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}








