/* ---------- reset form styles --------- */

.payment-form,
.welcome-form,
.disclaimer-form {
	color: #555;
	font-family: 'Lato', sans-serif;
}

input {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
	color: #555;
}

input:focus{
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
	color: #555;
}

button {
	background-color: white;
	border: none;
}



/* ------------ layout styles ------------- */

/*body { 
    overflow: hidden;
}*/

.site-title {
	position: fixed;
	top: 10vh;
	width: 100%;
	text-align: center;
}

.background{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	align-items: center;
	justify-content: center;
}

.light-box {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.content {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
}

.layout-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	position: relative;
}

.payment-wrapper,
.welcome-wrapper,
.disclaimer-wrapper {
	width: 440px;
	margin: 0 10%;
}
.payment-form{
	display: none;
}
.stripe-logo {
	top: 20px;
	left: 16px;
}
.fa-lock{
	right: 41px;
	top: 26px;
}
.fa-times {
	right: 16px;
	top: 25px;
}
.form-body,
.form-footer {
	padding: 16px;
}

/* ---------- design styles ----------- */

.site-title {
	font-family: 'Lobster', cursive;
	font-size: 45px;
	color: #fff;
	text-shadow: 0px 0px 10px #000;
}

.background{
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.loader {

}

.light-box {
	background-color: rgba(0,0,0,0.6);
}

.payment-wrapper {
	background-color: rgba(255, 255, 255,1);
	border-radius: 8px;
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
	overflow: hidden;
}

.form-body,
.form-footer {
	background-color: #eff2f5;
}

.form-footer {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

/* ---------- form styles ------------- */

.payment-form,
.welcome-form,
.disclaimer-form {
	font-weight: 400;
	font-size: 14px;
}

.disclaimer-form {
	color: #fff;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.welcome-form input,
.welcome-form input:focus,
.welcome-form button,
.disclaimer-form button {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	font-weight: 100;
	margin-bottom: 21px;
	color: #555;
	border-radius: 4px;
}

.disclaimer-form ul {
	font-weight: 100;
}

.disclaimer-form h1 {
	/*text-align: center;*/
}

.disclaimer-form i.fa-gavel {
	font-size: 15px;
	margin-right: 10px;
}

.disclaimer-form ul {
	list-style: none;
	padding-left: 20px;
	font-size: 20px;
}

.welcome-form button,
.disclaimer-form button {
	border-radius: 0;
	/*background-color: rgb(53,154,213);*/
	background-color: rgb(229, 151, 0);
	color: rgb(255,255,255);
	text-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	font-weight: 300;
}
.welcome-form button:hover,
.disclaimer-form button:hover {
	cursor: pointer;
	box-shadow: 0px 0px 1px #fff;
}

/*form header*/

.form-header {
	position: relative;
	border-bottom: 1px solid #ccc;
	height: 70px;
}
.stripe-logo {
	width: 80px;
	position: absolute;
}
.fa-lock,
.fa-times{
	font-size: 20px!important;
	position: absolute;
	color: #999;
}
.fa-times:hover{
	color: #555;
	cursor: pointer;
}

/*form body*/

.form-body{
	font-weight: 100;
}
.form-body label{
	margin-right: 10px;
	display: block;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 2px;
}
.form-body input,
.form-body input:focus {
	width: 100%;
	padding: 5px;
	font-size: 18px;
}
.flex-container{
	display: flex;
}
.flex-item {
	flex: 1;
}
.flex-item:first-child{
	margin-right: 8px;
}
.flex-item:last-child{
	margin-left: 8px;
}
.exp-month {
	margin-right: 4px!important;
}
.exp-year {
	margin-left: 4px!important;
}

/*form footer*/

.form-footer{
	position: relative;
}
button.submit {
	width: 100%;
	padding: 10px 0;
	background-color: rgb(53,154,213);
	color: rgb(255,255,255);
	font-weight: 400;
}
button.submit:hover{
	cursor: pointer;
	background-color: rgba(53,154,213,0.8);
}
.form-footer .spacer {
	height: 16px;
	margin-top: -16px;
	border-top: 2px solid rgba(204, 204, 204, 0.2);
}
.fa-check{
	color: rgb(255,255,255);
	margin-left: -24px;
	padding-right:10px;
	display: inline!important;
}

.payment-errors {
}


/* ----------------- media queries ------------ */


@media (min-width: 550px) {

	.site-title {
		top: 5vh;
		font-size: 70px;
	}

	/*.background{
		-webkit-filter: blur(10px);
		-moz-filter: blur(10px);
		-o-filter: blur(10px);
		-ms-filter: blur(10px);
		filter: blur(10px);
	}*/

}



/* ------------------------------------------------------------------------------------------------------------------ 

    Animation Styles 

/------------------------------------------------------------------------------------------------------------------- */


.spinner > div {
  width: 20px;
  height: 20px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}








